@model IEnumerable<bich2.Models.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TinhThanh.TenTinhThanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNhanVien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TinhThanh.TenTinhThanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNhanVien)
        </td>
        <td>
            @Html.ActionLink("sửa", "Edit", new { id=item.MaNhanVien }) |
            @Html.ActionLink("thông tin", "Details", new { id=item.MaNhanVien }) |
            @Html.ActionLink("xóa", "Delete", new { id=item.MaNhanVien })
        </td>
    </tr>
}

</table>
